{% extends 'base.html' %} {% block content %}

<div class="container">
  <video id="video-1">
    <source src="{{ video1.content.url }}" type="video/mp4" />
  </video>
  <canvas id="canvas-1"></canvas>
  <button id="button-1">Play</button>
  <progress id="progress-1" value="0" min="0"> </progress>
</div>

<div class="container">
  <video id="video-2">
    <source src="{{ video2.content.url }}" type="video/mp4" />
  </video>
  <canvas id="canvas-2"></canvas>
  <button id="button-2">Play</button>
  <progress id="progress-2" value="0" min="0"> </progress>
</div>

{% endblock content %}
